@charset "UTF-8";
h1 {
  color: rgb(241, 58, 197);
  font-size: 20px;
  text-align: center;
}
#title {
	color: #6600ff;
}
p{
  color: rgb(23, 27, 19);
  font-size: 16px;
  line-height: 22px;
}
/* コメントアウト */
.text {
	font-size: 14px;
}
span {
	font-weight: bold;
}
img{
  width: 200px;
}
body{
  font-family: 'メイリオ', 'Meiryo', sans-serif;;
}
a{
  text-decoration: none;
}
a:visited {
	color: #999;
}
a:hover{
  color: : #ad9b29;
  text-decoration: underline;;
}
